absl-py==0.6.1
astor==0.7.1
bleach==1.5.0
bunch==1.0.1
certifi==2018.10.15
chardet==3.0.4
cloudpickle==0.6.1
cycler==0.10.0
Cython==0.29
dask==0.20.2
decorator==4.3.0
dm-sonnet==1.23
enum34==1.1.6
future==0.17.0
gast==0.2.0
graph-nets==1.0.2
graphs==0.1.3
grpcio==1.16.0
h5py==2.8.0
html5lib==0.9999999
idna==2.7
imageio==2.4.1
joblib==0.13.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.1
moviepy==0.2.3.5
networkx==2.2
numpy==1.15.3
Pillow==5.3.0
pkginfo==1.4.2
protobuf==3.6.1
pybullet==2.3.5
pyparsing==2.2.2
python-dateutil==2.7.5
PyWavelets==1.0.1
PyYAML==3.13
requests==2.20.0
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
tensorboard==1.12.0
tensorflow==1.12.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
toolz==0.9.0
tqdm==4.28.1
twine==1.11.0
urllib3==1.24
Werkzeug==0.14.1
